

.contato-intro {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 50px; 
}

.contato-intro::before {
  content: "";
  position: absolute;
  background-image: url("../assets/imgcontato.jpg");
  left: 0;
  padding-top: 100vh;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%; 
  background-attachment: fixed;
}

.contato-intro::after{
  content:"";
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, #000 120%);
}




#contato {
  position: relative;
  background-color: #EDEDED;
  padding-top: 2.5vh;
  margin-bottom: 40px;
  height: auto;
  width: 100%;
}

.contato-grid {
  padding-top: 15vh;
  padding-bottom: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  padding-right: 5vw;
}

.contato-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.6;
  padding-left: 6vw;
}

.contato-text p {
  font-size: 2.5vh;
  line-height: 5vh;
}

.contato-adress p {
  font-size: 3vh;
}

.contato-icons {
  display: flex;
  gap: 40px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  border: solid 0.5px rgb(119, 119, 119);
  padding: 10px;
  height: 60vh;
}


.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgb(101, 101, 101);
  margin-bottom: 20px; 
  max-width: 300vw;
}

.input-container #message{
  min-height: 10vh;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.input-container input:focus {
  border: 1px solid red;
}

.input-icon {
  color: rgb(77, 77, 77);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
}

.contato-icons img {
  height: 110px;
}

