#contato {
  position: relative;
  background-color: #EDEDED;
  padding-top: 1vh;
  margin-bottom: 40px;
  height: auto;
  width: 100%;
}

.contato-grid {
  padding-top: 30vh;
  padding-bottom: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.contato-info p {
  font-size: 3vh;
}

.contato-info {
  font-size: 20px;
  line-height: 1.6;
  padding-left: 5vw;
}

.contato-icons {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  gap: 20px;
  border: solid 2px rgb(121, 121, 121);
  padding: 20px;
  background-color: white;
  height: 60vh;
}

.formulario-container h3{
  font-size: 3vh;
  padding-bottom: 2vh;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgb(101, 101, 101);
  margin-bottom: 20px; 
  max-width: 300vw;
}

.input-container #message{
  min-height: 10vh;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-container input:focus {
  border: 1px solid red;
}

.input-icon {
  color: rgb(77, 77, 77);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
}

.contato-icons img {
  height: 110px;
}

