@media screen and (max-width: 768px) {

  html {
  font-size: 14px;
  }

  body {

  overflow-x: hidden;
  }



  .page-container {
    width: 100%;
    margin-left: 0;
    padding: 0;
    margin-top: 5rem;
    
    
  }


  .bg-home::before {
    background-size: auto 100%; 
    background-position: bottom ; 
    height: 80rem;
    padding: 0;
    margin: 0;
  }

  .bg-home::after{
    height: 80rem;
  }

  .bg-logo  {
    margin-top: 100px;
    align-items: center;
    z-index: 5;
  }

  .bg-logo img {
    width: 250px; 
    align-items: center;
  }


  .sidebar {
    position: fixed;
    z-index: 10;
    top: 0;
     align-items: center; 
     justify-content: space-evenly;
     width: 100%; 
     height: 5rem; 
     border-bottom: 1px solid #2f3336; 
   }

   .sidebar-nav {
     z-index: 10;
     margin-bottom: 20px;
     display: flex; 
     flex-direction: row !important;
     position: fixed;
     gap: 2vw;
     margin-top: 0;
     width: auto;
   }

  .sidebar button > span > span{
    display: none;
  }

  .sidebar-icons {
    display:none;
  }

  .solicitar-orcamento {
   display: none;
  }
  .solicitar-orcamento img {
    content: url("../assets/orcamento2.png");
  }

  /* destaques */ 

  #destaq{
    padding-top: 80px;

  }

  h2 {
    left: 2rem;
  }
  h2::before {
    width: 120%;
  }


  .container {
    padding-top: 40px;
    flex-direction: column;
    gap: 20px;
    height: auto;
    justify-content: center;
  }



  .card {
    width: 90vw; 
    height: 40vh; 
  }

  .card img {
    width: 100%; 
    height: auto; 
  }

  .about {
    width: 100%; 
    bottom: 5rem; 
  }

  .card p {
    font-size: 0.9rem ;
  }

  .card:hover .about{
    height: 200px;
    bottom: 200px;
  }


/* sobre nos */

#about {
  padding-top: 80px;
}

.sobre-intro::before {
  background-image: url("../assets/sobre-capa3.png");

}

.sobre-container {
  height: 190vh;
}

.sobre-nos-top, .sobre-nos-bottom {
  flex-direction: column; 
}

#perfil1, #perfil2 {
  max-width: 60%; 
  height: auto; 
  margin: 0; 
  align-self: center ;
}

#perfil1 {
  padding-bottom: 40px;
}


#perfil2 {
  padding-top: 40px;
}
}



